/srv/algowiki/storage/logs/*.log /srv/algowiki/storage/logs/test/*.log {
    daily
    rotate 14
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    su root adm
    create 0640 root adm
}
